.form {
  background-color: #eeeeee;
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

input {
  border: 1px solid #ccc;
  border-radius: 5px;
  flex: 1;
  margin-right: 1em;
  padding-left: 1em;
}

button {
  background-color: royalblue;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  padding: 0.8em;
}

button:hover {
  filter: brightness(85%);
}
